Pygments==2.0.2
argcomplete==0.8.4
autopep8==1.1.1
backports.ssl-match-hostname==3.4.0.2
certifi==2015.04.28
cffi==0.8.6
cloudmonkey==5.3.1
cryptography==0.5.4
gnureadline==6.3.3
greenlet==0.4.7
ipython==2.2.0
mock==1.0.1
motor==0.4.1
pep8==1.6.2
prettytable==0.7.2
pycparser==2.10
pymongo==2.8
requests==2.5.3
six==1.7.3
tornado==4.2
vboxapi==1.0
virtualenv==1.11.4
wsgiref==0.1.2
