{% extends "../layout.html" %}
{% block body %}
<h2>Playlist: {{ playlist['name'] }}</h2>
<form action="/playlists/{{ playlist['id']}}" method="POST">
    <input placeholder="rename playlist" name="name" type="text">
    <button type="submit">Change</button>
</form>
{% if len(playlist['songs']) == 0 %}
    <p>No songs added yet</p>
{% else %}
    <h3>Songs in the playlist</h3>
    <ul>
    {% for song in playlist['songs'] %}
        <li>
            {{ song['name'] }}
            <form action="/delete_song/{{ playlist['id'] }}" method="POST">
                <input type="hidden" name="song_id" value="{{ song['spotify_id']}}">
                <button type="submit">Delete</button>
            </form>
        </li>
    {% end %}
    </ul>
{% end %}


<form action="/search" method="GET">
    <input value="{{ playlist['id'] }}" name="playlist_id" type="hidden">
    <input name="q" type="text" placeholder="Look for a song">
    <button type="submit">Search</button>
</form>


<ul>
{% for track in search %}
    <li>
        <span>{{ track['name'] }}</span>
        <form action="add_song/{{ playlist['id'] }}" method="POST" id="{{ track['id'] }}">
            <input value="{{ track['id'] }}" name="song_id" type="hidden">
            <input value="{{ track['name'] }}" name="song_name" type="hidden">
            <button type="submit">Add</button>
        </form>
    </li>
{% end %}
</ul>
{% end %}
