{% extends "layout.html" %}
{% block body %}
<h2>Playlist: {{ playlist.name }}</h2>
<a href="/edit_playlist/{{ playlist.id }}">Edit</a>
{% if playlist.songs | length == 0 %}
    <p>No songs added yet</p>
{% else %}
    <ul>
    {% for song in playlist.songs %}
        <li>
            {{ song.name }}
            <form action="/delete_song/{{ playlist.id }}" method="POST">
                <input type="hidden" name="song_id" value="{{ song.spotify_id}}">
                <button type="submit">Delete</button>
            </form>
        </li>
    {% endfor %}
    </ul>
{% endif %}
{% endblock %}
