{% extends "../layout.html" %}
{% block body %}
<h2>Playlists</h2>
{% if len(playlists) == 0 %}
    <p>No playlists added yet</p>
{% else %}
    <ul>
    {% for playlist in playlists %}
        <li>
            <a href="/playlists/{{ playlist['id'] }}">{{ playlist['name'] }}</a>
            <form action="/delete_playlist/{{ playlist['id'] }}" method="POST">
                <button type"submit">Delete</form>
            </form>
        </li>
    {% end %}
    </ul>
    {% for page in xrange(count/limit + 1) %}
        <a href="/playlists/?offset={{ page * 2 }}">{{ page + 1 }}</a>
    {% end %}
{% end %}
<form action="/playlists/" method="POST">
    <input name="name" id="playlist_name" type="text" placeholder="Add a new playlist">
    <button type="submit">Add</button>
</form>
{% end %}
